@charset "utf-8";

/***********************************************************************************************************************************
	MAIN
***********************************************************************************************************************************/
/* intro */
@keyframes icoMainScroll {
	0% {padding:13px 0 0;}
	15% {padding:25px 0 0;}
	30% {padding:13px 0 0;}
	45% {padding:25px 0 0;}
	60% {padding:13px 0 0;}
	75% {padding:25px 0 0;}
	100% {padding:13px 0 0;}
}
