@charset "utf-8";

/*****************************
	Base(reset) style
*****************************/
html, body {height:100%;}
html, body, blockquote, caption, dd, div, dl, dt, fieldset, form, frame, h1, h2, h3, h4, h5, h6, hr,
iframe, input, legend, li, object, ol, p, pre, q, select, table, textarea, ul, tr, td{ margin:0; padding:0}
ul, ol, li{list-style:none}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; margin:0; padding:0;}

body {font-size:14px; line-height:18px; font-weight:400; color:#333; font-family:'Poppins', 'NotoSans','Malgun Gothic','맑은 고딕','Apple SD Gothic Neo','돋움',dotum, sans-serif; -webkit-text-size-adjust: none;}

pre, textarea, select {font-family:'Poppins', 'NotoSans','Malgun Gothic','맑은 고딕','Apple SD Gothic Neo','돋움',dotum, sans-serif;}

fieldset {display:block; margin:0; padding:0; border:0;}
legend {position:absolute; visibility:hidden; overflow:hidden; width:0; height:0; font-size:0; line-height:0;}
form {margin:0; padding:0;}

a, a:link, a:visited, a:active, a:hover {text-decoration:none; color:#333; outline:none;}

input, button {padding:0; margin:0; border:0; font-size:14px; vertical-align:middle; background:none; font-family:'Poppins', 'NotoSans','Malgun Gothic','맑은 고딕','Apple SD Gothic Neo','돋움',dotum, sans-serif;-webkit-appearance:none; outline:none;}
button, label {cursor:pointer;}

select::-ms-expand {display:none;} 
select {appearance:none;-webkit-appearance:none;border:none;background-repeat:no-repeat;background-position:center right;}

input[type="text"],
input[type="password"] {height:26px;padding:0 10px;border:1px solid #00a0e9;background:#fff;}

input[type="radio"], input[type="checkbox"] {appearance:none;-webkit-appearance:none;}

input::placeholder {color:#777;}

img {border:0; vertical-align:middle;}

hr {display:none;}

em, address {font-style:normal;}

h1, h2, h3, h4, h5, h6, strong {font-weight:800;}

table {width:100%; border-collapse:collapse;}
caption {overflow:hidden; margin:0; padding:0; width:0; height:0; font-size:0; line-height:0;}

noscript {position:absolute; z-index:10; background:#efefef;}
noscript p {margin:0;}

.blind {position:absolute; overflow:hidden; width:0; height:0; font-size:1px; line-height:0; color:transparent;}

/* skip */
.skip {position:fixed;}
.skip li a {display:block;position:absolute;top:0;left:-9999px;width:100%;text-align:center;}
.skip li a:focus,
.skip li a:active {left:0;padding:10px 0;background:rgba(0,0,0,.5);color:#fff;}

/*****************************
	set
*****************************/
/* text align */
.txtAlignR{text-align:right !important}
.txtAlignC{text-align:center !important}
.txtAlignL{text-align:left !important}

/* ele align */
.vAlignT{vertical-align:top !important}
.vAlignM{vertical-align:middle !important}
.vAlignB{vertical-align:bottom !important}

/* clipping */
.clipping{white-space:nowrap; text-overflow:ellipsis; overflow:hidden}

/* font weight */
.bold4 {font-weight:400 !important;}
.bold5 {font-weight:500 !important;}
.bold7 {font-weight:700 !important;}
.bold8 {font-weight:800 !important;}
