@charset "utf-8";

/***********************************************************************************************************************************
	MAIN
***********************************************************************************************************************************/
/* intro */
[class^="mainIntroWrap"] {position:relative;background:#fafafa url('/resources/images/common/bg_main_intro.svg') no-repeat center;}
[class^="mainIntroWrap"] .unit {visibility:hidden;position:absolute;left:50%;top:50%;line-height:100px;font-size:96px;font-weight:700;white-space:nowrap;transform:translate(-50%, -50%) scale(3);opacity:0;transition:transform 1.5s ease, opacity 2.5s ease;}
[class^="mainIntroWrap"] .unit.active {visibility:visible;transform:translate(-50%, -50%) scale(1);opacity:1;}
[class^="mainIntroWrap"] .btnScroll {width:24px;height:24px;background:#fafafa url('/resources/images/common/ico_scroll.svg') no-repeat center;}

/* Company */
[class^="mainCompanyWrap"] {}