@charset "utf-8";

/***********************************************************************************************************************************
	MAIN
***********************************************************************************************************************************/
/* intro */
[class^="mainIntroWrap"] {position:relative;background:#fafafa url('/resources/images/common/bg_main_intro.svg') no-repeat center;}
[class^="mainIntroWrap"] .unit {visibility:hidden;position:absolute;left:50%;top:50%;line-height:100px;font-size:96px;font-weight:700;white-space:nowrap;transform:translate(-50%, -50%) scale(3);opacity:0;transition:transform 1.5s ease, opacity 2.5s ease;}
[class^="mainIntroWrap"] .unit.active {visibility:visible;transform:translate(-50%, -50%) scale(1);opacity:1;}
[class^="mainIntroWrap"] .btnScroll {position:absolute;left:50%;bottom:50px;box-sizing:border-box;width:50px;height:50px;padding:13px 0 0;text-align:center;transform:translate(-50%, 0);}
[class^="mainIntroWrap"] .btnScroll span {display:inline-block;width:25px;height:25px;background:#fafafa url('/resources/images/common/ico_scroll.svg') no-repeat center;}
[class^="mainIntroWrap"] .btnScroll:hover {animation-name:icoMainScroll;animation-duration:3s;animation-iteration-count: infinite;animation-timing-function:linear;}

/* Company */
[class^="mainCompanyWrap"] {padding:80px;background-color:#fafafa;}
[class^="mainCompanyWrap"] .companyIntroBox .companyIntroInner {font-size:48px;line-height:88px;text-align:center;}
[class^="mainCompanyWrap"] .companyIntroBox .companyLinkBox {margin:88px 0 0;text-align:center}
[class^="mainCompanyWrap"] .companyIntroBox .companyLinkBox > a {display:inline-block;padding:14px 25px;line-height:43px;font-size:33px;color:#fff;border-radius:70px;background-color:#132D40}
[class^="mainCompanyWrap"] .companyIntroBox .companyLinkBox > a em {display:inline-block;}

[class^="mainCompanyWrap"] .companyIntroBox02 {max-width:1280px;margin:160px auto 0;}
[class^="mainCompanyWrap"] .companyIntroBox02 > ul > li {margin:90px 0 0;}
[class^="mainCompanyWrap"] .companyIntroBox02 > ul > li:first-child {margin:0;}
[class^="mainCompanyWrap"] .companyIntroBox02 > ul > li:after {display:block;overflow:hidden;content:"";clear:both;width:0;height:0;line-height:0;font-size:0;}
[class^="mainCompanyWrap"] .companyIntroBox02 > ul > li .introItem {overflow:hidden;float:left;box-sizing:border-box;width:50%;padding:0 35px 0 0;}
[class^="mainCompanyWrap"] .companyIntroBox02 > ul > li:nth-child(even) .introItem {float:right;padding:0 0 0 35px;}
[class^="mainCompanyWrap"] .companyIntroBox02 > ul > li .introItem .tit {display:block;position:relative;padding:140px 0 0;line-height:98px;font-size:80px;font-weight:700;}
[class^="mainCompanyWrap"] .companyIntroBox02 > ul > li .introItem .tit:before {display:block;content:"";position:absolute;left:0;top:0;width:100px;height:100px;border-radius:100%;background-color:rgba(79, 183, 226, 0.3);transform:scale(0);opacity:0;transition:transform .5s ease, opacity .5s ease;}
[class^="mainCompanyWrap"] .companyIntroBox02 > ul > li .introItem .tit:after {display:block;content:"";position:absolute;left:70px;;top:0;width:100px;height:100px;border-radius:100%;background-color: rgba(19, 45, 64, 0.3);transform:scale(0);opacity:0;transition:transform .5s ease, opacity .5s ease;transition-delay:.5s;}
[class^="mainCompanyWrap"] .companyIntroBox02 > ul > li .introItem .tit span {display:inline-block;transform:translate(calc(-100vw), 0);transition:transform 1s ease;transition-delay:1s;}
[class^="mainCompanyWrap"] .companyIntroBox02 > ul > li .introItem .conts {margin:40px 0 0;line-height:34px;font-size:24px;letter-spacing:-.3px;transform:translate(calc(100vw), 0);transition:transform 1s ease;transition-delay:2s;}
[class^="mainCompanyWrap"] .companyIntroBox02 > ul > li .introItem.active .tit:before {transform:scale(1);opacity:1;}
[class^="mainCompanyWrap"] .companyIntroBox02 > ul > li .introItem.active .tit:after {transform:scale(1);opacity:1;}
[class^="mainCompanyWrap"] .companyIntroBox02 > ul > li .introItem.active .tit span {transform:translate(0, 0);}
[class^="mainCompanyWrap"] .companyIntroBox02 > ul > li .introItem.active .conts {transform:translate(0, 0);}

/* Work01 */
[class^="mainWorkWrap"] {max-width:1280px;padding:80px;margin:0 auto;}
[class^="mainWorkWrap"] [class^="titBox"] .tit {display:block;font-size:48px;line-height:58px;}
[class^="mainWorkWrap"] [class^="historyListWrap"] {max-width:1280px;margin:80px 0 0;}
[class^="mainWorkWrap"] [class^="historyListWrap"]:first-child {margin:0;}
[class^="mainWorkWrap"] [class^="historyListWrap"] > ul > li {margin:160px 0 0;}
[class^="mainWorkWrap"] [class^="historyListWrap"] > ul > li:first-child {margin:0;}

[class^="mainWorkWrap"] [class^="histroyCardBox"] {display:block;}
[class^="mainWorkWrap"] [class^="histroyCardBox"] .img {display:block;margin:0 0 80px;}
[class^="mainWorkWrap"] [class^="histroyCardBox"] .pjtSummary {line-height:46px;font-size:36px;}
[class^="mainWorkWrap"] [class^="histroyCardBox"] .pjtName {line-height:58px;font-size:48px;}
[class^="mainWorkWrap"] [class^="histroyCardBox"] .pjtDetail {margin:10px 0 0;color:#8a8a8a;}
[class^="mainWorkWrap"] [class^="histroyCardBox"] .pjtDetail li {position:relative;padding:0 0 0 15px;line-height:36px;}
[class^="mainWorkWrap"] [class^="histroyCardBox"] .pjtDetail li:before {display:block;content:"";position:absolute;left:5px;top:14px;width:5px;height:5px;border-radius:100%;background-color:#8a8a8a;}